pipeline/pipeline2 webhook.json
{
	"name": "pipeline2 webhook",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"output_table": "dsf",
						"keyVaultUrlMain": "dfs",
						"secretName": "df",
						"secretVersion": "dsf"
					}
				}
			},
			{
				"name": "SuccessWeb",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://slack.com/api/chat.postMessage",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@pipeline().parameters.token",
							"type": "Expression"
						}
					},
					"body": {
						"text": "@variables('asd')",
						"channel": "#intelliante-data-engineering"
					}
				}
			},
			{
				"name": "Failure Web",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://slack.com/api/chat.postMessage",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@pipeline().parameters.token",
							"type": "Expression"
						}
					},
					"body": {
						"text": "Error while executing below ADF pipeline",
						"attachments": [
							{
								"pretext": "Error while executing below ADF pipeline",
								"text": "@activity('Execute Pipeline1').output"
							},
							{
								"pretext": "Error Message",
								"text": "@activity('Execute Pipeline1').error.Message"
							}
						],
						"channel": "#intelliante-data-engineering"
					}
				}
			}
		],
		"parameters": {
			"token": {
				"type": "String"
			}
		},
		"variables": {
			"asd": {
				"type": "String"
			}
		},
		"annotations": []
	}
}